* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0px;
  height: 300px;
}

main {
}

#project-overview {
  background-color: #ff1b68;
  width: 100%;
  height: 528px;
  padding: 10px;
  box-sizing: border-box;
  border: 5px solid black;
}

.section-title {
  color: #2ddf5c;
  margin: 20px;
  font-family: inherit;
}

h1 {
  color: white;
  font-family: "Nanum Gothic", sans-serif;
}

.main-header > div {
  display: inline-block;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 50px);
}

.main-header {
  width: 100%;
  background: #2dff5c;
  padding: 8px 16px;
  display: inline-block;
}

#sample-2 {
  display: none;
}

.main-nav__item {
  display: inline-block;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
